*,
*::after,
*::before {
  box-sizing: border-box;
}

/* change color of slick dots */
.slick-dots button::before {
  color: White !important;
}

/* .slick-dots {
  top: -20px;
  right: -20px;
} */

.slick-slide:hover,
.slick-slide:active {
  transform: scale(1.5);
  align-items: center;
}

.slick-list {
  /* padding: 50px 0;
  margin: -50px 0; */
  overflow: visible;
}

.slick-arrow {
  z-index: 20;
  height: auto;
}
